fastapi==0.116.1
uvicorn==0.35.0
python-multipart==0.0.12
pymupdf==1.26.3
openai==1.97.0
langchain==0.3.26
langchain-openai==0.3.28
langsmith==0.4.7
python-dotenv==1.1.1
requests==2.32.4
requests-toolbelt==1.0.0

